.listviewport{
    text-align: center;
}
.counterlist{
    top: -$counter-height;
    padding-top: $counter-height;
    position: relative;
}
.counterlist--transition{
    transition: padding 400ms cubic-bezier(0.165, 0.84, 0.44, 1);;
    padding-top: $counter-height * 2;
}
.counterlist.returning{
    transition: top 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
