.counter{
    position: relative;
    height: $counter-height;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid $hr-color;
    transition: left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.counter--swiping{
    transition: none;
    &:before,
    &:after{
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25%;
        background-color: #4F5051;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:before{
        left: -25%;
        background-image: url(../img/forward.png);
    }
    &:after{
        right: -25%;
        background-image: url(../img/rewind.png);
    }
}
.counter__display{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    line-height: 8rem;
}
.counter[data-color="1"]{
    background-color: $color1;
}
.counter[data-color="2"]{
    background-color: $color2;
}
.counter[data-color="3"]{
    background-color: $color3;
}
.counter[data-color="4"]{
    background-color: $color4;
}
.counter[data-color="5"]{
    background-color: $color5;
}
.counter[data-color="6"]{
    background-color: $color6;
}
.counter[data-color="7"]{
    background-color: $color7;
}
