html, body {
  height: 100%;
}
[data-role="pagestack"]{
    height: 100%;
    overflow: hidden;
    // border: 6px solid green;
}
#main{
    height: 100%;
    overflow: auto;
// position:fixed !important;
// position:absolute;
// top:0;
// right:0;
// bottom:0;
// left:0;
}
.listviewport{
    // position: absolute;
}
.counterlist{
    // min-height: $counter-height * 4 + 4;
    top: -$counter-height;
    padding-top: $counter-height;
    position: relative;
}
.counterlist--transition{
    transition: padding 400ms cubic-bezier(0.165, 0.84, 0.44, 1);;
    padding-top: $counter-height * 2;
}
.counterlist.returning{
    transition: top 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}