.toolbar{
    @extend .top-left-fullwidth;
    position:relative;
    height: $counter-height;
    z-index: 2;
    text-align: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.context-menu__reset-button,
.context-menu__color-picker,
.context-menu__color-picker .area,
.context-menu__remove-button{
    cursor: pointer;
    position: absolute;
    top: 50%;
}
.context-menu__reset-button
.context-menu__remove-button{
}
.context-menu__reset-button{
    left: 11%;
    margin-top: -17px;
    width: 35px;
    height: 32px;
    background-image: url(../img/reset-button.png);
}
.context-menu__remove-button{
    right: 11%;
    margin-top: -18px;
    width: 29px;
    height: 36px;
    background-image: url(../img/delete-button.png);
}

.context-menu__color-picker,
.context-menu__color-picker .area{
    left: 50%;
    margin-left: -63px;
    width: 129px;
    height: 88px;
    padding-top: 1px;
    padding-left: 1px;
    margin-top: -43px;
    background-color: #232425;
    border-radius: 5px;
    // overflow: hidden;
    // visibility: hidden;
}
.context-menu__color-picker .area {
    background-color: transparent;
}
.context-menu__color-picker-item{
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 3px;
    &.color-1{
        background-color: $color1;
    }
    &.color-2{
        background-color: $color2;
    }
    &.color-3{
        background-color: $color3;
    }
    &.color-4{
        background-color: $color4;
    }
    &.color-5{
        background-color: $color5;
    }
    &.color-6{
        background-color: $color6;
    }
    &.color-7{
        background-color: $color7;
    }
}
