---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
theme: mnmo
#theme: ubuntu
#appcache: <%= app.cachefile %>
---
{{#is theme 'ubuntu'}}
<div data-role="page">
    <div data-role="content">
        <div data-role="pagestack">
{{/is}}
            <div data-role="page" id="main">
                {{>header}}
                <section class="listviewport" data-role="list">
                    <ol class="counterlist" data-role="listview">
                    {{#each default.counters}}
                        {{>counter}}
                    {{/each}}
                    </ol>
                </section>
                {{>footer}}
            </div>
{{#is theme 'ubuntu'}}
        </div>
    </div>
</div>
{{/is}}

