---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
theme: mnmo
built: false
# appcache: <%= app.cachefile %>
---
{{#is theme 'ubuntu'}}
<div data-role="page">
    <div data-role="content">
        <div data-role="pagestack">
            <div data-role="page" id="main">
                {{>header}}
{{/is}}
                <section class="listviewport" data-role="list">
                    <div class="toolbar">
                        <div class="help-button"></div>
                        {{>add-counter-button}}
                    </div>
                    <ol class="counterlist" data-role="listview">
                    {{#each default.counters}}
                        {{>counter}}
                    {{/each}}
                    </ol>
                    {{>footer}}
                    {{>context-menu}}
                </section>
{{#is theme 'ubuntu'}}
            </div>
        </div>
    </div>
</div>
{{/is}}

