---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
theme: mnmo
built: true
appcache: <%= app.cachefile %>
---
<section class="listviewport" data-role="list">
    <div class="toolbar">
        {{!-- <div class="help-button"></div> --}}
        {{>add-counter-button}}
    </div>
    <ol class="counterlist" data-role="listview">
    {{#each default.counters}}
        {{>counter}}
    {{/each}}
    </ol>
    {{>footer}}
    {{>context-menu}}
</section>
