---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
theme: mnmo
theme: ubuntu
#appcache: <%= app.cachefile %>
---
<div data-role="page">
    <div data-role="content">
        <div data-role="pagestack">
            <div data-role="page" id="main">
                {{>header}}
                <section data-role="list">
                    <ul data-role="listview">
                        {{>counter}}
                        {{>counter}}
                        {{>counter}}
                        {{>counter}}
                    </ul>
                </section>
                {{>footer}}
            </div>
        </div>
    </div>
</div>

