---
layout: html_page.hbs
title: <%= app.title %>
description: <%= app.description %>
#appcache: <%= app.cachefile %>
---
<div data-role="page">
    {{>header}}
    <div data-role="content">
       <div data-role="pagestack">
       </div>
    </div>
</div>

