@import "base";

// Fonts
@import "ubuntu/fonts";

@import url("../css/ubuntu/default.css");

li{
    display:table;
    width: 100%;
    vertical-align: middle;
}
li button,
li div{
    display:table-cell;
    text-align:center;
    vertical-align: middle;
}
li div{
    width:50%;
}
li button{
    margin-top:10px;
    margin-left:10px;
}