@import "base";
@import "fonts";

$hr-color: black;
$color1: #CBE494;
$color2: #F4BF75;
$color3: #79D9CD;
$color4: #D3B1AE;
$color5: #C4A2E0;
$color6: #FF8CE7;
$color7: #FB5B61;
$background-color: #232425;
$footer-text-color: #424344;
$button-border-color: #2C2D2E;
$button-inside-border-color: #000;
$button-border-radius: 0.3rem;
$help-button-color: #333;

$counter-height: 7.4rem;

//css reset
@include global-reset(){}

body{
    //debug
    // background-image: url(../img/Counters_Pompiere.png);
    // background-image: url(../img/NewCounter.png);
    // background-position-x: center;
    // background-repeat: no-repeat;

    font-family: Pompiere;
}

// .counter button,
header,
footer nav{
    display: none;
}

@import "parts/toolbar";
@import "parts/buttons";
@import "parts/counterlist";
@import "parts/counter";
@import "parts/footer";

body {
    background-color: $background-color;
}
#main{
    text-align:center;
}