<div class="context-menu context-menu--active_" data-counter-index="1">
    <div class="context-menu__toolbar">
        <div class="context-menu__reset-button"></div>
        <div class="context-menu__color-picker">
            <ol>
                <li class="context-menu__color-picker-item color-1"></li>
                <li class="context-menu__color-picker-item color-2"></li>
                <li class="context-menu__color-picker-item color-3"></li>
                <li class="context-menu__color-picker-item color-4"></li>
                <li class="context-menu__color-picker-item color-5"></li>
                <li class="context-menu__color-picker-item color-6"></li>
                <li class="context-menu__color-picker-item color-7"></li>
            </ol>
            <div class="area"></div>
        </div>
        <div class="context-menu__remove-button"></div>
    </div>
</div>
