<div class="context-menu context-menu--activie" data-counter-index="1">
    <div class="context-menu__toolbar">
        <div class="context-menu__reset-button"></div>
        <div class="context-menu__color-picker">
{{!--             <ol>
                <li class="context-menu__color-picker-item"></li>
                <li class="context-menu__color-picker-item"></li>
                <li class="context-menu__color-picker-item"></li>
                <li class="context-menu__color-picker-item"></li>
                <li class="context-menu__color-picker-item"></li>
                <li class="context-menu__color-picker-item"></li>
            </ol>
 --}}        </div>
        <div class="context-menu__remove-button"></div>
    </div>
</div>