<li class="counter" data-color="{{this.color}}">
    <button data-role="button" class="decrement danger">-</button>
    <div class="counter__display">{{this.value}}</div>
    <button data-role="button" class="increment success">+</button>
</li>