{{#isnt theme 'mnmo'}}
<footer data-role="footer" class="revealed">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span>Add counter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Remove counter</span>
                </a>
            </li>
            <li>
                <img src="img/ubuntu/back@18.png" alt="Tap me!">
                <span>Back</span>
            </li>
        </ul>
    </nav>
</footer>
{{/isnt}}
