<footer data-role="footer" class="revealed">
{{#is theme 'mnmo'}}
    <div class="footer__badges">
        <div class="logo mnmo"></div>
        <div class="logo html"></div>
        <div class="logo github"></div>
    </div>
    <p class="footer__text">
        <strong>{{app.title}}</strong>
        is free software, by
        <a href="{{app.author.url}}">{{app.author.name}}</a>,
        in HTML5.<br>
        Know your rights and get the source at
        <a target="_blank" href="{{app.repository.url}}">Github</a>
    </p>
{{/is}}
{{#isnt theme 'mnmo'}}
{{!-- Ubuntu toolbar --}}
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span>Add counter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Remove counter</span>
                </a>
            </li>
            <li>
                <img src="img/ubuntu/back@18.png" alt="Tap me!">
                <span>Back</span>
            </li>
        </ul>
    </nav>
{{/isnt}}
</footer>
