<header data-role="header">
<nav data-role="navbar" class="tabs" >
  <div class="tabs-inner">
    <ul>
      <li class="active" role="tab">
        <a href="#item1" class="tab-item">{{app.title}}</a>
      </li>
    </ul>
  </div>
</nav>
</header>
