<!DOCTYPE html>
<html{{#if appcache}} manifest="{{appcache}}"{{/if}}>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{#if theme}}
        <link rel="stylesheet" href="css/theme-{{theme}}.css">
        {{/if}}
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        {{>body}}
        <script src="js/lib/require/require-min.js" data-main="js/main" ></script>
    </body>
</html>