<!DOCTYPE html>
<html manifest="manifest.appcache">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{app.title}}</title>
        <meta name="description" content="{{app.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Ubuntu UI Style imports - Ambiance theme -->
        <link rel="stylesheet" href="css/ubuntu.css">

        <!-- Application Style -->
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div data-role="page">
            <header data-role="header">
                <h1>{{app.title}}</h1>
                {{> navbar}}
            </header>
            {{> body}}
        </div>
    </body>
</html>